<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理登录</title>    <!--后端博客管理-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <style type="text/css">
        /*video{
            position: fixed;
            right:0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -9999;
            !*灰色调*!
            !*-webkit-filter:grayscale(100%)*!

        }*/
    </style>
</head>
<body>
<!--<video id="v1" autoplay muted loop style="position: fixed;
            right:0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -9999;">
    <source  src="../../static/images/river1.mp4" th:src="@{/images/river1.mp4}">
</video>-->
<div class="m-container-small m-padding-tb-massive" style="max-width: 30em !important;">

    <div class="ui container">
        <div class="m-padding-tb-massive ui middle aligned center aligned grid">
            <div class="column">

                <h2 class="ui teal image header">
                    <div class="content">

                        管理后台登录
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/admin/login}"
                      onsubmit="return checkForm()">
                    <!--提交到admin下面的login方法-->
                    <div class="ui segment" style="background-color: #fff0;border: none">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="enter username">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="verificationCode" style="width: 60%" name="verificationCode"
                                       class="verificationCode" placeholder="enter the code">
                                <input type="button" id="code" value="idfe"
                                       style="width: 25%;margin-left: 15px; text-align: center"
                                       onclick="changeCode()"></input>
                            </div>
                            <div class="ui left icon input">

                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登录</button>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        用户名和密码错误
                    </div>    <!--判断是否为空-->
                </form>
            </div>

        </div>
    </div>
</div>


<!--/*/<th:block th:relpace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/jsUtils/messageUtils.js" th:src="@{/jsUtils/messageUtils.js}"></script>
<script src="../static/js/canvas_demo.js" th:src="@{/js/canvas_demo.js}"></script>
<!--/*/</th:block>/*/-->

<script>
    $(function () {
        changeCode();
        getCanvas();
    })

    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    })

    function changeCode() {
        let codes = "a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,A,B,C,D," +
            "E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,1,2,3,4,5,6,7,8,9";
        let codeArray = [];
        codeArray.push(codes.split(','));
        let code = '';
        for (let i = 0; i < 4; i++) {
            let index = Math.floor(60 * Math.random());
            value = codeArray[0][index];
            code += value
        }
        $('#code').val(code);
    }

    function checkForm() {
        let verificationCode = $('.verificationCode').val().toLowerCase();
        let code = $('#code').val().toLowerCase();
        if (verificationCode == code) {
            return true;
        } else {
            getMessage("warning", "验证码输入有误");
            changeCode();
            return false;
        }
    }
</script>

</body>
</html>














