<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理登录</title>    <!--后端博客管理-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <style type="text/css">
        /*video{
            position: fixed;
            right:0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -9999;
            !*灰色调*!
            !*-webkit-filter:grayscale(100%)*!

        }*/
    </style>
</head>
<body>
<!--<video id="v1" autoplay muted loop style="position: fixed;
            right:0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -9999;">
    <source  src="../../static/images/river1.mp4" th:src="@{/images/river1.mp4}">
</video>-->
<div class="m-container-small m-padding-tb-massive" style="max-width: 30em !important;">

    <div class="ui container">
        <div class="m-padding-tb-massive ui middle aligned center aligned grid">
            <div class="column">

                <h2 class="ui teal image header">
                    <div class="content">

                        注册
                    </div>
                </h2>

                <!--        注册-->
                <form class="ui large form registerForm">
                    <!--提交到admin下面的login方法-->
                    <div class="ui segment" style="background-color: #fff0;border: none">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text"  class="username1"  placeholder="请输入用户名"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password"  class="pwd" placeholder="请输入密码"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="hand pointer icon"></i>
                                <input type="text"  class="invitedCode" placeholder="请输入邀请码"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" class="email" placeholder="请输入邮箱"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="check icon"></i>
                                <input type="text" style="width: 60%"
                                       class="verificationCode1" placeholder="请输入验证码"/>
                                <input type="button" class="code" value="idfe"
                                       style="width: 25%;margin-left: 15px; text-align: center"
                                       onclick="changeCode()"></input>
                            </div>
                            <div class="ui left icon input">

                            </div>
                        </div>
                        <input type="button" class="ui fluid large teal  button" onclick="registerUser()" value="注册">
                        <input type="button" onclick="toLogin()" class="ui fluid large button" style="margin-top:10px" value="返回登陆"/>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        用户名和密码错误
                    </div>    <!--判断是否为空-->
                </form>
            </div>



        </div>
    </div>
</div>


<!--/*/<th:block th:relpace="_fragments :: script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/jsUtils/messageUtils.js" th:src="@{/jsUtils/messageUtils.js}"></script>
<script src="../static/js/canvas_demo.js" th:src="@{/js/canvas_demo.js}"></script>
<!--/*/</th:block>/*/-->

<script>
    $(function () {
        changeCode();
        getCanvas();
    })

    function toLogin() {
        window.location.href = "/to/toAdmin"
    }

    function changeCode() {
        let codes = "a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,A,B,C,D," +
            "E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,1,2,3,4,5,6,7,8,9";
        let codeArray = [];
        codeArray.push(codes.split(','));
        let code = '';
        for (let i = 0; i < 4; i++) {
            let index = Math.floor(60 * Math.random());
            value = codeArray[0][index];
            code += value
        }
        $('.code').val(code);
    }

    /*function checkForm() {
        let username = $('.username').val();
        let password = $('.password').val();
        if(username == '' || username == null || password == '' || password == null){
            getMessage("error","请输入用户名或密码");
            return false;
        }
        let verificationCode = $('.verificationCode').val().toLowerCase();
        let code = $('.code').val().toLowerCase();
        if (verificationCode == code) {
            return true;
        } else {
            getMessage("warning", "验证码输入有误");
            $('.verificationCode').val("");
            changeCode();
            return false;
        }
    }*/

    function registerUser(){
        let user = $('.username1').val();
        let pwd = $('.pwd').val();
        let email = $('.email').val();
        let invitedCode = $('.invitedCode').val();
        if(user == '' || user == null || pwd == '' || pwd == null || email == '' || email == null || invitedCode == '' || invitedCode ==null){
            getMessage("error","请输入用户名或密码");
            return false;
        }

        let verificationCode = $('.verificationCode1').val().toLowerCase();
        let code = $('.code').val().toLowerCase();
        if (verificationCode == code) {
            $.ajax({
                url: "/admin/register",
                method : "post",
                data: {
                    username : user,
                    password : pwd,
                    email : email,
                    invitedCode : invitedCode
                },
                success:function (data){
                    getMessage("info",data);
                }
            })
        } else {
            getMessage("warning", "验证码输入有误");
            $('.verificationCode').val("");
            changeCode();
        }}


</script>

</body>
</html>
